<h3 class="title">General</h3>
<div class="wrapper-1">
  <div class="wrapper-2">
    <div id="weather-widget" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a target="_blank" href="http://www.booked.net/weather/sydney-30285">
            <figure>
              <img src="https://w.bookcdn.com/weather/picture/32_30285_1_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=76890"  alt="booked.net"/>
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="http://ibooked.cn/weather/urumqi-19207">
            <figure>
              <img src="https://w.bookcdn.com/weather/picture/32_19207_1_1_e67e22_250_d35401_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=60582"  alt="booked.net"/>
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="http://ibooked.cn/weather/karamay-25639">
            <figure>
              <img src="https://w.bookcdn.com/weather/picture/32_25639_1_1_9b59b6_250_8e44ad_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=60582"  alt="booked.net"/>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <app-gmail></app-gmail>
  </div>
  <div id="calender">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=330&amp;wkst=1&amp;hl=en&amp;bgcolor=%239999ff&amp;src=en.australian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Australia%2FSydney" style="border-width:0" width="338" height="338" frameborder="0" scrolling="no">
    </iframe>
  </div>
</div>
<!--
  <a href="https://mail.google.com/mail/u/0/?hl=zh-CN#inbox" target="_blank">
    <img class="nav-icon" id="gmail" [src]='gmailLogo'>
  </a>

  <iframe id="calender" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=330&amp;wkst=1&amp;hl=en&amp;bgcolor=%239999ff&amp;src=en.australian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Australia%2FSydney" style="border-width:0" width="330" height="330" frameborder="0" scrolling="no">
  </iframe>
-->
