<a href="https://mail.google.com/mail/u/0/?hl=zh-CN#inbox" target="_blank">
  <img class="nav-icon" id="gmail" [src]='gmailLogo'>
</a>
  <!--<iframe id="calender" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=330&amp;wkst=1&amp;hl=en&amp;bgcolor=%239999ff&amp;src=en.australian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Australia%2FSydney" style="border-width:0" width="330" height="330" frameborder="0" scrolling="no">
  </iframe>-->